<div class="container container-table">
  <div class="text-center col-md-4 col-md-offset-4" >
    <h1>Add New Restaurant</h1>
  </div>
</div>

<div class="d-inline mx-auto center">
  <%= render 'form', restaurant: @restaurant %>
</div>

<div class="container container-table">
  <div class="text-center col-md-4 col-md-offset-4" >
      <%= link_to 'Main page', restaurants_path %>
  </div>
</div>
